
.friGame {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	background: none;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

